.mapzone {
    background-color: #130e75;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 15px;
    height: 15px;
  }

  .turret {
    background-color: #C0C0C0;
    opacity: 0.7;
    border: 2px solid #000000;
    position: absolute;
    top: 500px;
    left: 0px;
    width: 40px;
    height: 40px;
    color: #000000;
    text-align: center;
    border-radius: 20px/20px;
  }
  
  .projectile {
    background-color: #C0C0C0;
    opacity: 0.7;
    border: 1px solid #000000;
    position: absolute;
    top: 500px;
    left: 0px;
    width: 8px;
    height: 8px;
    color: #000000;
    text-align: center;
    border-radius: 20px/20px;
  }
  
  .turretdrag {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 10px/10px;
    font-size: 16px;
    text-align: center;
    top: 0px;
    left: 0px;
  }
  
  .startbutton {
    background-color: #4682B4;
    position: absolute;
    width: 100px;
    height: 50px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 15px/15px;
    top: 495px;
    left: 20px;
  }
  
  .resetbutton {
    background-color: #4682B4;
    position: absolute;
    width: 100px;
    height: 50px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 15px/15px;
    top: 560px;
    left: 20px;
  }
  
  .statusbar {
    background-color: #4682B4;
    position: absolute;
    width: 400px;
    height: 50px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 15px/15px;
    top: 495px;
    left: 500px;
  }
  
  .minion {
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url("img/min-lv1/min-up.png");
    border-radius: 2px/2px;
    top: 0px;
    left: 0px;
  }

  .hpBar {
    background-color: #000000;
    position: absolute;
    width: 20px;
    height: 4px;
    border-radius: 8px/8px;
    top: 0px;
    left: 0px;
  }
  
  *[draggable=true] {
    -khtml-user-drag: element;
    cursor: move;
  }
  
  :-khtml-drag {
    background-color: rgba(238, 238, 238, 238, 0.5);
  }
  
  *:-moz-drag-over {
    background-color: rgba(238, 238, 238, 0.5);
  }

  .upgradebutton {
    background-color: #24547a;
    position: relative;
    width: 90px;
    height: 40px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 10px/10px;
  }

  .sellbtn{
    background-color: #e00e0e;
    width: 90px;
    height: 40px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 10px/10px;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    text-align: center;
}

  .character-info {
    background-color: #000000;
    position: absolute;
    border: 2px solid #417197;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    margin: 50px auto;
    left: 1205px;
}

.character-info h1 {
  font-size: 24px;
}

.info-item {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

  /* Style for the Submit button */
  button[type="button"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 10px;
    font-size: 12px;
    font:bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    outline: none; /* Remove outline on focus */
  }

  button[type="button"]:hover {
    background-color: #004997;
  }

  button[type="button"]:focus {
    transform: scale(1.05); /* Scale up slightly on focus */
  }

  button[type="sellbutton"] {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 10px;
    font-size: 12px;
    font:bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    outline: none; /* Remove outline on focus */
  }

  button[type="sellbutton"]:hover {
    background-color: #970000;
  }

  button[type="sellbutton"]:focus {
    transform: scale(1.05); /* Scale up slightly on focus */
  }
  
  p {
    color:#fff;
  }